<div id="<%= dom_id supporttab %>">
  <p>
    <strong>Descriptionch:</strong>
    <%= supporttab.descriptionch %>
  </p>

  <p>
    <strong>Siglech:</strong>
    <%= supporttab.siglech %>
  </p>

</div>
