<h1>Editing supporttab</h1>

<%= render "form", supporttab: @supporttab %>

<br>

<div>
  <%= link_to "Show this supporttab", @supporttab %> |
  <%= link_to "Back to supporttabs", supporttabs_path %>
</div>
