<h1>Editing dossiertab</h1>

<%= render "form", dossiertab: @dossiertab %>

<br>

<div>
  <%= link_to "Show this dossiertab", @dossiertab %> |
  <%= link_to "Back to dossiertabs", dossiertabs_path %>
</div>
