<div id="<%= dom_id destinateurtab %>">
  <p>
    <strong>Descriptionch:</strong>
    <%= destinateurtab.descriptionch %>
  </p>

  <p>
    <strong>Servicetab:</strong>
    <%= destinateurtab.servicetab_id %>
  </p>

</div>
