<h1>Editing destinateurtab</h1>

<%= render "form", destinateurtab: @destinateurtab %>

<br>

<div>
  <%= link_to "Show this destinateurtab", @destinateurtab %> |
  <%= link_to "Back to destinateurtabs", destinateurtabs_path %>
</div>
