<h1>New autorisationpaiementhstab</h1>

<%= render "form", autorisationpaiementhstab: @autorisationpaiementhstab %>

<br>

<div>
  <%= link_to "Back to autorisationpaiementhstabs", autorisationpaiementhstabs_path %>
</div>
