<div id="<%= dom_id statuttab %>">
  <p>
    <strong>Descriptionch:</strong>
    <%= statuttab.descriptionch %>
  </p>

  <p>
    <strong>Siglech:</strong>
    <%= statuttab.siglech %>
  </p>

</div>
