<h1>Editing statuttab</h1>

<%= render "form", statuttab: @statuttab %>

<br>

<div>
  <%= link_to "Show this statuttab", @statuttab %> |
  <%= link_to "Back to statuttabs", statuttabs_path %>
</div>
