<p style="color: green"><%= notice %></p>

<h1>Statuttabs</h1>

<div id="statuttabs">
  <% @statuttabs.each do |statuttab| %>
    <%= render statuttab %>
    <p>
      <%= link_to "Show this statuttab", statuttab %>
    </p>
  <% end %>
</div>

<%= link_to "New statuttab", new_statuttab_path %>
