<div id="<%= dom_id attributtab %>">
  <p>
    <strong>Descriptionch:</strong>
    <%= attributtab.descriptionch %>
  </p>

  <p>
    <strong>Siglech:</strong>
    <%= attributtab.siglech %>
  </p>

</div>
