<h1>Editing attributtab</h1>

<%= render "form", attributtab: @attributtab %>

<br>

<div>
  <%= link_to "Show this attributtab", @attributtab %> |
  <%= link_to "Back to attributtabs", attributtabs_path %>
</div>
