<h1>Editing servicetab</h1>

<%= render "form", servicetab: @servicetab %>

<br>

<div>
  <%= link_to "Show this servicetab", @servicetab %> |
  <%= link_to "Back to servicetabs", servicetabs_path %>
</div>
