<h1>Editing transmissionarrivetab</h1>

<%= render "form", transmissionarrivetab: @transmissionarrivetab %>

<br>

<div>
  <%= link_to "Show this transmissionarrivetab", @transmissionarrivetab %> |
  <%= link_to "Back to transmissionarrivetabs", transmissionarrivetabs_path %>
</div>
