<h1>New transmissionarrivetab</h1>

<%= render "form", transmissionarrivetab: @transmissionarrivetab %>

<br>

<div>
  <%= link_to "Back to transmissionarrivetabs", transmissionarrivetabs_path %>
</div>
