<h1>Editing transmissiondeparttab</h1>

<%= render "form", transmissiondeparttab: @transmissiondeparttab %>

<br>

<div>
  <%= link_to "Show this transmissiondeparttab", @transmissiondeparttab %> |
  <%= link_to "Back to transmissiondeparttabs", transmissiondeparttabs_path %>
</div>
