<h1>New transmissiondeparttab</h1>

<%= render "form", transmissiondeparttab: @transmissiondeparttab %>

<br>

<div>
  <%= link_to "Back to transmissiondeparttabs", transmissiondeparttabs_path %>
</div>
