<h1>Editing etatpaiementhstab</h1>

<%= render "form", etatpaiementhstab: @etatpaiementhstab %>

<br>

<div>
  <%= link_to "Show this etatpaiementhstab", @etatpaiementhstab %> |
  <%= link_to "Back to etatpaiementhstabs", etatpaiementhstabs_path %>
</div>
