<h1>Editing employetab</h1>

<%= render "form", employetab: @employetab %>

<br>

<div>
  <%= link_to "Show this employetab", @employetab %> |
  <%= link_to "Back to employetabs", employetabs_path %>
</div>
