<!-- ------- begin title --------- -->
<div class="border-bottom">
  <h6 class="text-secondary">
    <a class="text-muted text-decoration-none" href="<%= root_path %>" aria-label="Add a new report"><i class="bi bi-stack me-1 text-dark"></i>SIG-ADM</a>
    <span class="ps-1 pe-1">/</span>
    <a class="text-muted text-decoration-none" href="<%= root_path %>" aria-label="Add a new report"><i class="bi bi-house-door-fill text-dark"></i>Accuiel</a>
  </h6>
</div>
<!-- ------- end title --------- -->
<!-- ------- begin content --------- -->

<!--<i class="bi bi-exclude me-1 text-warning"></i>-->
<!--<br>-->
<!--<i class="bi bi-stack me-1 text-warning"></i>-->
<!--<br>-->
<!--<i class="bi bi-grid-3x3-gap-fill me-1 text-warning"></i>-->
<!--<br>-->
<!--<i class="bi bi-grid-fill me-1 text-warning"></i>-->
<!--<br>-->
<!--<i class="bi bi-microsoft me-1 text-warning"></i>-->
<!--<br>-->
<!--<i class="bi bi-x-diamond-fill me-1 text-warning"></i>-->
<!--<br>-->
<!--<i class="bi bi-server me-1 text-warning"></i>-->
<!--<br>-->
<!--<i class="bi bi-boxes me-1 text-warning"></i>-->
<!--<br>-->

<!-- ------- end content --------- -->
