<!--begin header   -->

<!--end header   -->

<div class="container-fluid">
  <div class="row">
    <!--begin container-fluid/sidebarMenu   -->

    <!--end container-fluid/sidebarMenu   -->

    <!--begin container-fluid/main   -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-5">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 text-secondary">Bienvenue</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">1_Button</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">2_Button</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><span data-feather="calendar"></span>3_Button</button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">1_Action</a></li>
            <li><a class="dropdown-item" href="#">_Action</a></li>
            <li><a class="dropdown-item" href="#">3_Action</a></li>
          </ul>
        </div>
      </div>

      <h2>Section title</h2>

    </main>
    <!--end container-fluid/main   -->

  </div>
</div>
