<div id="<%= dom_id familletab %>">
  <p>
    <strong>Code:</strong>
    <%= familletab.code %>
  </p>

  <p>
    <strong>Famille:</strong>
    <%= familletab.famille %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= familletab.description %>
  </p>

</div>
