<h1>Editing familletab</h1>

<%= render "form", familletab: @familletab %>

<br>

<div>
  <%= link_to "Show this familletab", @familletab %> |
  <%= link_to "Back to familletabs", familletabs_path %>
</div>
