<h1>Editing typemouvementtab</h1>

<%= render "form", typemouvementtab: @typemouvementtab %>

<br>

<div>
  <%= link_to "Show this typemouvementtab", @typemouvementtab %> |
  <%= link_to "Back to typemouvementtabs", typemouvementtabs_path %>
</div>
