<h1>Editing etatcontenuhstab</h1>

<%= render "form", etatcontenuhstab: @etatcontenuhstab %>

<br>

<div>
  <%= link_to "Show this etatcontenuhstab", @etatcontenuhstab %> |
  <%= link_to "Back to etatcontenuhstabs", etatcontenuhstabs_path %>
</div>
