<div id="<%= dom_id banquetab %>">
  <p>
    <strong>Codebanquech:</strong>
    <%= banquetab.codebanquech %>
  </p>

  <p>
    <strong>Descriptionch:</strong>
    <%= banquetab.descriptionch %>
  </p>

  <p>
    <strong>Siglech:</strong>
    <%= banquetab.siglech %>
  </p>

</div>
