<h1>Editing banquetab</h1>

<%= render "form", banquetab: @banquetab %>

<br>

<div>
  <%= link_to "Show this banquetab", @banquetab %> |
  <%= link_to "Back to banquetabs", banquetabs_path %>
</div>
