<h1>Editing mouvementtab</h1>

<%= render "form", mouvementtab: @mouvementtab %>

<br>

<div>
  <%= link_to "Show this mouvementtab", @mouvementtab %> |
  <%= link_to "Back to mouvementtabs", mouvementtabs_path %>
</div>
