<h1>Editing comptebanquetab</h1>

<%= render "form", comptebanquetab: @comptebanquetab %>

<br>

<div>
  <%= link_to "Show this comptebanquetab", @comptebanquetab %> |
  <%= link_to "Back to comptebanquetabs", comptebanquetabs_path %>
</div>
