<div id="<%= dom_id etatciviltab %>">
  <p>
    <strong>Descriptionch:</strong>
    <%= etatciviltab.descriptionch %>
  </p>

  <p>
    <strong>Siglech:</strong>
    <%= etatciviltab.siglech %>
  </p>

</div>
