<h1>Editing etatciviltab</h1>

<%= render "form", etatciviltab: @etatciviltab %>

<br>

<div>
  <%= link_to "Show this etatciviltab", @etatciviltab %> |
  <%= link_to "Back to etatciviltabs", etatciviltabs_path %>
</div>
