<div id="<%= dom_id tauxhorairehstab %>">
  <p>
    <strong>Tauxhorairehsch:</strong>
    <%= tauxhorairehstab.tauxhorairehsch %>
  </p>

  <p>
    <strong>Descriptionch:</strong>
    <%= tauxhorairehstab.descriptionch %>
  </p>

  <p>
    <strong>Pch:</strong>
    <%= tauxhorairehstab.pch %>
  </p>

</div>
