<h1>Editing tauxhorairehstab</h1>

<%= render "form", tauxhorairehstab: @tauxhorairehstab %>

<br>

<div>
  <%= link_to "Show this tauxhorairehstab", @tauxhorairehstab %> |
  <%= link_to "Back to tauxhorairehstabs", tauxhorairehstabs_path %>
</div>
