<h1>Editing signatairetab</h1>

<%= render "form", signatairetab: @signatairetab %>

<br>

<div>
  <%= link_to "Show this signatairetab", @signatairetab %> |
  <%= link_to "Back to signatairetabs", signatairetabs_path %>
</div>
