<div id="<%= dom_id expediteurtab %>">
  <p>
    <strong>Descriptionch:</strong>
    <%= expediteurtab.descriptionch %>
  </p>

  <p>
    <strong>Servicetab:</strong>
    <%= expediteurtab.servicetab_id %>
  </p>

</div>
