<h1>Editing expediteurtab</h1>

<%= render "form", expediteurtab: @expediteurtab %>

<br>

<div>
  <%= link_to "Show this expediteurtab", @expediteurtab %> |
  <%= link_to "Back to expediteurtabs", expediteurtabs_path %>
</div>
