<p style="color: green"><%= notice %></p>

<h1>Expediteurtabs</h1>

<div id="expediteurtabs">
  <% @expediteurtabs.each do |expediteurtab| %>
    <%= render expediteurtab %>
    <p>
      <%= link_to "Show this expediteurtab", expediteurtab %>
    </p>
  <% end %>
</div>

<%= link_to "New expediteurtab", new_expediteurtab_path %>
