<div id="<%= dom_id structuretab %>">
  <p>
    <strong>Descriptionch:</strong>
    <%= structuretab.descriptionch %>
  </p>

  <p>
    <strong>Siglech:</strong>
    <%= structuretab.siglech %>
  </p>

  <p>
    <strong>Signatairetab:</strong>
    <%= structuretab.signatairetab_id %>
  </p>

</div>
