<h1>Editing structuretab</h1>

<%= render "form", structuretab: @structuretab %>

<br>

<div>
  <%= link_to "Show this structuretab", @structuretab %> |
  <%= link_to "Back to structuretabs", structuretabs_path %>
</div>
