<h1>Editing materieltab</h1>

<%= render "form", materieltab: @materieltab %>

<br>

<div>
  <%= link_to "Show this materieltab", @materieltab %> |
  <%= link_to "Back to materieltabs", materieltabs_path %>
</div>
