<h1>Editing departtab</h1>

<%= render "form", departtab: @departtab %>

<br>

<div>
  <%= link_to "Show this departtab", @departtab %> |
  <%= link_to "Back to departtabs", departtabs_path %>
</div>
