<div id="<%= dom_id redacteurtab %>">
  <p>
    <strong>Descriptionch:</strong>
    <%= redacteurtab.descriptionch %>
  </p>

  <p>
    <strong>Servicetab:</strong>
    <%= redacteurtab.servicetab_id %>
  </p>

  <p>
    <strong>Observationch:</strong>
    <%= redacteurtab.observationch %>
  </p>

</div>
