<h1>Editing redacteurtab</h1>

<%= render "form", redacteurtab: @redacteurtab %>

<br>

<div>
  <%= link_to "Show this redacteurtab", @redacteurtab %> |
  <%= link_to "Back to redacteurtabs", redacteurtabs_path %>
</div>
